    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                    <h1 class="mx-auto">Form Tambah Data</h1>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="col-md-8 mx-auto">
                <div class="card card-info">
                    <div class="card-header">
                    </div>
                    <form class="form-horizontal"  onsubmit="tambahBarang();" action="javascript:void(0);" method="POST">
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Kode Inventaris</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="kode_inventaris"
                                        placeholder="Kode Inventaris">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Nama Asset</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="nama" placeholder="Nama Asset">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Jumlah</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="jumlah" placeholder="Jumlah">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Harga Satuan</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="harga"
                                        placeholder="Harga Satuan">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Tanggal Perolehan</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i
                                                    class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <input type="text" id="tanggal_beli" class="form-control" data-inputmask-alias="datetime"
                                            data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Lokasi</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="lokasi" style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Kategori</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="kategori" style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Status</label>
                                <div class="col-sm-10">
                                    <input type="text" id="status" class="form-control" id="keterangan" placeholder="Status">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info  float-right">Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

<script src="app/js/inventory.js"></script>
<script src="app/js/tambah_barang.js"></script>
<script>
    $(function () {
        $('#datemask').inputmask('dd/mm/yyyy', {
            'placeholder': 'dd/mm/yyyy'
        })
        $('[data-mask]').inputmask()
    })
</script>